.experience {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}
.experience-row {
}
.experience-content {
    max-width: 380px
}
.experience-content__title {
}
.experience-content__desc {
}
.experience-list {
    display: grid;
    grid-template-columns: repeat(4, 212px);
    grid-template-rows: 255px 255px;
    list-style: none;
    padding: 0;
}
.experience-list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 3px solid #f9f6e5;
}
.experience-list__item.list-line {
    border-top: 3px solid #f9f6e5;
}
.experience-list__item.line-first,
.experience-list__item.line-six {
    border-left: 3px solid #f9f6e5;
}
.experience-item__img {
}
.experience-item__subtitle {
}