.experience {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}
.experience-row {
}
.experience-content {
    max-width: 380px
}
.experience-content__title {
    font-size: 24px;
    position: relative;
}
.experience-content__title::after {
    content: '';
    width: 100px;
    height: 8px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #6bb071;
}
.experience-content__desc {
    font-size: 16px;
    letter-spacing: 2px;
}
.experience-list {
    display: grid;
    grid-template-columns: repeat(4, 212px);
    grid-template-rows: 255px 255px;
    list-style: none;
    padding: 0;
}
.experience-list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 3px solid #f9f6e5;
    cursor: pointer;
    transition: all 1s ease;
}
.experience-list__item:hover .experience-list__item--content {
    height: 100%;
    opacity: 1;
}
.experience-list__item.list-line {
    border-top: 3px solid #f9f6e5;
}
.experience-list__item.line-first,
.experience-list__item.line-six {
    border-left: 3px solid #f9f6e5;
}
.experience-list__item--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .6s ease;

}
.experience-list__item--content p {
    line-height: 22px;
    letter-spacing: 1.2px;
    color: rgba(155, 155, 155, 1);
    margin-bottom: 8px;
}
.experience-list__item--content a {
    display: flex;
    align-items: center;
    font-weight: 600;
    column-gap: 10px;
    color: #6bb071;
    text-decoration: none;
    letter-spacing: 2px;
}
.experience-list__item--content a:hover {
    color: #448849;
}
.experience-list__item--content a svg {
    margin-top: 2px;
}
.experience-item__img {
    width: 54px;
    height: 54px;
    margin: 30px;
}
.experience-item__subtitle {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
    .experience-content {
        max-width: 100%;
        margin-top: 60px;
    }
    .experience-list__item,
    .experience-list__item.list-line,
    .experience-list__item.line-first,
    .experience-list__item.line-six {
        border: none;
    }
    .experience-list {
        border-top: 2px solid #f9f6e5;
        border-left: 2px solid #f9f6e5;
    }
    .experience-list__item {
        border-right: 2px solid #f9f6e5 !important;
        border-bottom: 2px solid #f9f6e5 !important;
    }
}
@media screen and (max-width: 920px) {
    .experience-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(212px, 1fr));
        grid-auto-rows: minmax(255px, auto);
        gap: 20px;
        border: none;
        width: 100%;
    } 
    .experience-list__item,
    .experience-list__item.list-line,
    .experience-list__item.line-first,
    .experience-list__item.line-six {
        border: none;
    }
    .experience-list {
        border-top: 2px solid #f9f6e5;
        border-left: 2px solid #f9f6e5;
        gap: 0;
    }
    .experience-list__item {
        border-right: 2px solid #f9f6e5 !important;
        border-bottom: 2px solid #f9f6e5 !important;
    }
}