.home {
    background-image: url('../images/home/bg-img.png');
    background-position: center;
    /* min-height: 500px; */
}
.carousel-caption {
    position: static;
}
.home-row {
    padding: 80px 0;
}
.carousel-caption {
    max-width: 600px;
    margin: 0 auto;
}
.carousel-caption h1 {
    font-weight: 600;
    font-size:100px;
    line-height: 110px;
    letter-spacing: 2px;
}

.carousel-indicators {
    position: relative;
}
.corusel-btns {
}